.div-toolbar{
    border: 1px solid red;
    padding: 2px;
}

.settings-container{
    width: 1200px;
    margin-left: 10px;
}
.simulations-container{
    margin-left: 10px;
}


.hidden{
    display: none;
}

.visible{
    display: block;
}

.cfgInput{
    width: 100%;
}

.margin2px{
    margin: 2px;
}

.modal-wide{
    width:90vw;
}